
* {
    padding: 0;
    margin: 0;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media only screen and (max-width: 800px) {

    .quiz-container {
       left: 1px;
    }

    .cards-container {
        flex-direction: column;
    }


}

#image-background {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #cbe5f3;
}

.title-container {
    color: #050586;
    text-align: center;
    font-size: 23px;
    margin-left: 140px;
}

.quiz-container {
    position:absolute;
    flex-wrap: wrap;
    width: 800px;
    top: 1px;
    bottom: 200px;
    left: 300px;
    right: 200px;
    height: 650px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    width: 900px;
    align-content: space-between;
    margin-top: 50px;
    margin-left: 30px;
    justify-content: center;
}

.card-item {
    font-family: "Lobster", cursive;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 37px;
    border-radius: 20%;
    border: 5px #050586 dashed;
    width: 220px;
    height: 150px;
    background-color: #056cdc;
    color: white;
    font-style: italic;
    transition: all 850ms linear;
    transform-style: preserve-3d;
}

.back {
    width: 220px;
    height: 52px;

}


.front, .back {
    position: center;
    backface-visibility: hidden;

}

.back {
    position: absolute;
}

.front {
    z-index: 2;

}

.back {
    z-index: 1;
    transform: rotateY(180deg);
    color: white;
}

.card-item:hover {
    transform: rotateY(180deg);
    background-color: #056cdc;;
}

.back p {
    padding: 0;
}